# vim:filetype=sh syntax=sh:
alias ps1='PS1=\\$\ '
alias ps1c='. ~/.bashrc'

alias man="TERMINFO=~/.terminfo/ LESS=C TERM=mostlike PAGER=less man"

#alias vim='vim -X -p '
alias vim='vim -p '
alias e='gvim_tab'
alias u="cd .."
alias b="cd .."
alias m="cd /"
alias ll="ls -lAh --color=yes | less -r -E -X"
alias l="ls -lAh --color=yes "
alias d="ls --color=yes "
alias o="xdg-open"
alias dusage="du -sk * | sort -nr | cut -f2 | xargs -d '\n' du -sh"
alias mc='command mc -c --printwd=/tmp/mc-$USER/dir; cd "`cat /tmp/mc-$USER/dir`"; rm -f "/tmp/mc-$USER/dir"; :'
alias mcc='LANG=C mc'
alias qmv='qmv -f do'
alias vir='clamscan -r *'
alias py='ipython'
alias by='bpython'
alias ft='milkytracker'
alias adlib='adplay -r -b 8192'
alias am='uade123'
alias pudb='python -m pudb.run'
# check for virtualization instructions
alias virtualization='egrep "^flags.*(vmx|svm)" /proc/cpuinfo'
alias termkey='tput smkx; cat; tput rmkx'
alias winrsync='rsync -rltDvu --modify-window=1 --progress'
alias webserve='python -m SimpleHTTPServer'
alias v='DISPLAY=:0 mplayer -geometry 0x0 -fs'

alias track='inotifywait -rm . | grep -iE "(modify |create |delete|attrib|moved)"'

alias drop_cache='sync; echo 3 > /proc/sys/vm/drop_caches'
alias s='screen -RdU'

alias memo="e ~/local/docs/memos/memo.txt"
alias memotel="e ~/local/docs/memos/memotel.txt"
alias memomusic="e ~/local/docs/memos/memomusic.txt"
alias ack="ack-grep --pager=less --color-match=red"

# Docs
alias pydoc='links /usr/share/doc/python2.6-doc/html/index.html'
alias phpdoc='links ~/local/docs/coding/lang_php/php_manual_en.html'

alias pdf='evince'
alias web='google-chrome'
alias say='espeak'

#alias burniso='wodim dev=/dev/scd0 driveropts=burnfree,noforcespeed fs=14M speed=8 -dao -eject -overburn -v'
alias burniso='wodim dev=/dev/scd0 driveropts=burnfree,noforcespeed fs=14M speed=16 -dao -eject -overburn -v'

alias x="extract"
alias mp3="find . -iname \*.mp3 | mpg123 -z -@ - -b 4096"
alias mpk="kid3-qt ."
alias mpi="mp3info -x -F -r a"
alias ss="ssh -o 'ProtocolKeepAlives 30' -C "
alias lower='for i in *; do mv "$i" "$(echo $i | tr "[A-Z]" "[a-z]" )"; done'
alias upper='for i in *; do mv "$i" "$(echo $i | tr "[a-z]" "[A-Z]" )"; done'
alias chmodx="find . -type d -exec chmod 0755 '{}' ';'; find . -type f -exec chmod 0644 '{}' ';'"
alias chownx="sudo chown -R amigrave:amigrave"

alias 7zx='for i in *.7z; do 7z x "$i"; done'
alias zipx='for i in *.zip; do unzip "$i"; done'
alias rarx='for i in *.rar; do rar x "$i"; done'

#alias fs="fluidsynth ~/megav25/MEGA25.SF2"

alias termtest="echo -e \"\e[38;5;196mred\e[38;5;46mgreen\e[38;5;21mblue\e[0m\""
alias btdl="btdownloadcurses --max_upload_rate 3"
alias vboxusb="sudo chown -R amigrave:vboxusers /proc/bus/usb"

# emu
alias sdl1="SDL_VIDEO_FULLSCREEN_HEAD=1 "
alias db='dosbox -c "MOUNT C . -freesize 1024" -c "c:"'
alias dbox="dosbox -conf ~/local/bin/bin-Dos-i386/dosbox.conf ."
alias dboxcd="dosbox -conf ~/local/bin/bin-Dos-i386/dosbox_cd.conf ."
alias msx="mess msx -cart1 \`iselect -a *\`"
alias zsnes_gamepad="sudo ln -s /dev/input/js0 /dev/js0"
alias ami='files=(*.adf); amiga -0 "${files[0]}" -1 "${files[1]}" -2 "${files[2]}" -3 "${files[3]}"'

alias ubuntuwin="gconftool-2 --set /apps/metacity/general/button_layout --type string menu:minimize,maximize,close"
alias tsys="tail -f /var/log/dmesg /var/log/messages"
alias deletelogs="rm -rf /var/log/wtmp ; rm -rf /var/log/lastlog ; rm -rf /var/log/secure ; rm -rf /var/log/xferlog ; rm -rf /var/log/messages ; rm -rf /var/run/utmp ; touch /var/run/utmp ; touch /var/log/messages ; touch /var/log/wtmp ; touch /var/log/messages ; touch /var/log/xferlog ; touch /var/log/secure ; touch /var/log/lastlog ; rm -rf /var/log/maillog ; touch /var/log/maillog ; rm -rf /root/.bash_history ; touch /root/.bash_history ; history -r"

alias qu="exit"

# FUNCTIONS
function diffresolver() {
	kdiff3 -L1 Base -L2 Other -LMine --auto -o $1 -- $1.BASE $1.OTHER $1.THIS
}
function assh() {
	autossh -x "$*" 'screen -RdU'
}
