*.pyc
dotfiles/mc/panels.ini
dotfiles/vim/bundle
dotfiles/ipython/README
dotfiles/ipython/profile_default/history.sqlite
dotfiles/ipython/profile_default/security/
dotfiles/ipython/profile_default/startup/README
dotfiles/pudb/saved-breakpoints*
