[user]
    name = Fabien Meghazi
    email = agr@amigrave.com
[core]
    filemode = false
[color]
    diff = true
    status = false
    branch = auto
[alias]
    co = checkout
    st = status
    ci = commit
    ls = ls-files
[http]
	sslVerify = false
