snippet name
	<t t-name="${1}">
		${2}
	</t>${3}
snippet if
	<t t-if="${1}">
		${2}
	</t>${3}
snippet foreach
	<t t-foreach="${1}">
		${2}
	</t>${3}
snippet call
	<t t-call="${1}">
		${2}
	</t>${3}
snippet esc
	<t t-esc="${1}"/>${2}
snippet raw
	<t t-esc="${1}"/>${2}

