snippet wraps
	from functools import wraps

	def ${1:new_function}(f):
		@wraps(f)
		def wrapper(*args, **kw):
			return f(*args, **kw)
		return wrapper

snippet __
	__${1:init}__

snippet py2
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-
	from __future__ import absolute_import, division, print_function
	
	${1}

snippet py3
	#!/usr/bin/env python3
	# -*- coding: utf-8 -*-
	${1}
